.score-board {
    border-radius: 4px;
    display: flex;
    gap: 10px;
    margin: 5px;
}

.score-board > div {
    border: 2px solid white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current, .highest {
    padding: 5px;
}

.current.game-over {
    border-color: red;
}

.current.game-cleared {
    border-color: lightgreen;
}

.score-board .title {
    font-weight: bold;
}