@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: 600;
    
}

.board {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 10px;
}