html {
  box-sizing: border-box;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Ninja Naruto";
  src: url("../src/resources/fonts/NinjaNaruto.ttf");
}

body {
  background-color: antiquewhite;
}