@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

@font-face {
  font-family: "Ninja Naruto";
  src: url("../src/resources/fonts/NinjaNaruto.ttf");
}

body {
  background-color: antiquewhite;
}